<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Post-It</title>
  </head>
  <body>
    <div class="logo-box">
      <img src="./img/logo.jpeg" alt="logo" />
    </div>
    <section class="landing-page">
      <div class="product"></div>
      <div class="form">
        <div>
          <form action="">
            <h4>Get Started</h4>
            <div>
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" name="password" id="password" />
            </div>
            <button>Sign Up</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
